<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="bafreightstandard" translate="label" type="text" sortOrder="-1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>BA - Freight ( Standard )</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Label</label>
                    <comment>ex: Standard, DHL Standard etc.</comment>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Description</label>
                    <comment>ex: 1-3 Business Days.</comment>
                </field>
                <field id="carrier" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Carrier</label>
                    <source_model>BA\Freight\Model\Config\Source\Carrier</source_model>
                </field>

                <field id="carriage" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Carriage Method</label>
                    <source_model>BA\Freight\Model\Config\Source\CarriageMethod</source_model>
                </field>

                <field id="freight_model" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Carriage Model</label>
                    <source_model>BA\Freight\Model\Config\Source\CarriageModel</source_model>
                </field>

                <!-- Freight Matrix Config -->
                <field id="freight_table" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Freight Table</label>
                    <source_model>BA\Freight\Model\Config\Source\Table</source_model>
                    <depends>
                        <field id="carriage">3</field>
                    </depends>
                </field>

                <field id="breaks" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Value Breaks</label>
                    <frontend_model>BA\Freight\Block\Adminhtml\Form\Field\ValueBand</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>

            <!-- Express -->
            <group id="bafreightexpress" translate="label" type="text" sortOrder="-1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>BA - Freight ( Express )</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Label</label>
                    <comment>ex: Standard, DHL Standard etc.</comment>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Description</label>
                    <comment>ex: 1-3 Business Days.</comment>
                </field>
                <field id="carrier" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Carrier</label>
                    <source_model>BA\Freight\Model\Config\Source\Carrier</source_model>
                </field>

                <field id="carriage" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Carriage Method</label>
                    <source_model>BA\Freight\Model\Config\Source\CarriageMethod</source_model>
                </field>

                <field id="freight_model" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Carriage Model</label>
                    <source_model>BA\Freight\Model\Config\Source\CarriageModel</source_model>
                </field>

                <!-- Freight Matrix Config -->
                <field id="freight_table" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Freight Table</label>
                    <source_model>BA\Freight\Model\Config\Source\Table</source_model>
                    <depends>
                        <field id="carriage">3</field>
                    </depends>
                </field>

                <field id="breaks" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Value Breaks</label>
                    <frontend_model>BA\Freight\Block\Adminhtml\Form\Field\ValueBand</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>