<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Checkout Config Provider -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="adflex_config_provider" xsi:type="object">Adflex\Payments\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Vault -->
    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="adflex" xsi:type="object">Adflex\Payments\Ui\Token\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

</config>
