<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Patch the currency rounder -->
    <type name="Adflex\Payments\Helper\Data">
        <plugin name="BA\AdflexExt\Plugin\Helper\DataPatchPlugin" />
    </type>
</config>