<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="BA_MeetTeam::meetteam_meetteam_index" title="Meet the team" module="BA_MeetTeam"  sortOrder="1" action="meetteam/meetteam/index" resource="BA_MeetTeam::meetteam_meetteam_index" parent="BA_BasysCatalog::section"/>
    </menu>
</config>
