<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Checkout Config Provider -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="ba_consolidated_invoice_config" xsi:type="object">BA\BasysOrders\Ui\Methods\ConsolidatedInvoiceConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="ba_orders_checkout_processor" type="BA\BasysOrders\Plugin\CheckoutPaymentProviders" />
    </type>
</config>