<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="trade_account" sortOrder="10" translate="label">
            <label>Meet Team</label>
        </tab>
        <section id="meetteam_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Email</label>
            <tab>trade_account</tab>
            <resource>Tradeaccount_Settings::config_meet_settings</resource>
            <group id="settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
               
              <field id="recipient_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipient Name</label>
                </field>
                <field id="recipient_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recipient Email</label>
                </field>
                <field id="from_name" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name</label>
                </field>
                <field id="from_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Email</label>
                </field>
                <field id="cc_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cc Email</label>
                </field>
            </group>
        </section>
    </system>
</config>
