<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="BA_Punchout::punchout" title="Punchout">
                    <resource id="BA_Punchout::punchout_config" title="Configuration" />
                    <resource id="BA_Punchout::punchout_api" title="Web API" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>