<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<!--
		<section id="basys_newsletter" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Newsletter</label>
			<tab>basys</tab>
			<resource>BA_Newsletter::config_ba_Newsletter</resource>
			<group id="parameters" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Parameters</label>
				<field id="group_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Group Id</label>
					<comment/>
				</field>
				<field id="group_name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Group Name</label>
					<comment/>
				</field>
				<field id="token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Token</label>
					<comment/>
				</field>
			</group>
		</section>
		-->
	</system>
</config>
