<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="brandaddition" translate="label" sortOrder="10">
            <label>Brand Addition</label>
        </tab>

        <section id="basys" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>brandaddition</tab>
            <resource>BA_Basys::webservices_config</resource>

            <group id="webservices" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Web Services</label>
                <field id="mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>BA\Basys\Model\Config\Source\Mode</source_model>
                </field>

                <field id="auth_username" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="basys/webservices/mode">1</field>
                    </depends>
                </field>

                <field id="auth_password" translate="label" type="obscure" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="basys/webservices/mode">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>