<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="BA_UserType::index" title="Manage User Types" sortOrder="100">
                    <resource id="BA_UserType::config" title="Manage Configurations" />
                    <resource id="BA_UserType::rules" title="Mangage Rules" />
					<resource id="BA_UserType::lists" title="Mangage Value Lists" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>